

create table PHONG(
	MaPhong char(3) primary key not null,
	TenPhong nvarchar (40),
	DiaChi nvarchar (50),
	Tel char(10),
)

create table DANHMUC(
	MaNN char(2) primary key not null,
	TenNN nvarchar (20),
)

create table NHANVIEN(
		MaNV char(5) primary key not null,
	Ho Nvarchar(20),
	TenLot Nvarchar(20),
	Ten Nvarchar(20),
	GioiTinh Nvarchar(3),
	NgaySinh char(10),
	HeSoLuong Dec(4,2),
	MaPhong char(3),
	Tel char(10),
	NgayBC datetime,
	foreign key (MaPhong) references PHONG(MaPhong)
)

create table TRINHDO_NN(
	MaNV char(5),
	MaNN char(2),
	TrDo char(2),
	constraint KHOA primary key (MaNV,MaNN,TrDo)
)


----------NHẬP DỮ LIỆU BẢNG PHÒNG-------------
INSERT INTO PHONG VALUES('HCA', N'HC Tổng hợp', N'123,Phường 5, TP Trà Vinh, Trà Vinh','0743585793') 
INSERT INTO PHONG VALUES('KDA', N'Kinh Doanh', N'123,Phường 5, TP Trà Vinh, Trà Vinh','0743585794') 
INSERT INTO PHONG VALUES('KTA', N'Kỹ Thuật', N'123,Phường 5, TP Trà Vinh, Trà Vinh','0743585795') 

------------NHẬP DỮ LIỆU BẢNG DANH MỤC----------
INSERT INTO DANHMUC VALUES('01', N'Anh')
INSERT INTO DANHMUC VALUES('02', N'Nga')
INSERT INTO DANHMUC VALUES('03', N'Pháp')
----------- NHẬP DỮ LIỆU BẢNG TRÌNH ĐỘ--------
insert into TRINHDO_NN values('HC001','01','A')
insert into TRINHDO_NN values('HC001', '02' ,'B')
insert into TRINHDO_NN values('HC002','01','C')
-----------------NHẬP DỮ LIỆU BẢNG NHÂN VIÊN-------------
insert into NHANVIEN values('HC001', N'Nguyễn', N'Thị' , N'Hà', N'Nữ', '1950/02/27', 4.50, 'HCA', '', '1975/08/02')
insert into NHANVIEN values('HC002', N'Trần', N'Văn' , N'Nam', N'Nam', '1975/12/06', 3.00, 'HCA', '', '1997/08/06')
insert into NHANVIEN values('HC003', N'Nguyễn', N'Thanh' , N'Huyền', N'Nữ', '1978/03/07', 3.50, 'HCA', '', '1999/02/09')


SELECT *
FROM PHONG

SELECT *
FROM DANHMUC

SELECT *
FROM TRINHDO_NN

SELECT *
FROM NHANVIEN



