set dateformat dmy
Create Table KHOA
(
MaKhoa Char(4) Not null,
TenKhoa Nvarchar(30) Not null,
Diachi Nvarchar(50),
DianThoai Varchar(10)
)

Create Table LOP
(
MaLop Char(10) Not null,
TenLop Nvarchar(30) Not null,
MaKhoa Char(4) Not null
)

Create Table SINH_VIEN
(
MaSV Char(8) Not null,
HoTenSV Nvarchar(30) Not null,
Ngaysinh Datetime,
MaLop Char(10) Not null
)

Create Table MON_HOC
(
MaMon Char(5) Not null,
TenMon Nvarchar(30) Not null,
SoTinChi Smallint Not null
)

Create Table GIANG_VIEN
(
MaGV Char(9) Not null,
HoTenGV Nvarchar(40) Not null,
MaKhoa Char(4)Not null
)

Create Table GIANG_DAY
(
MaMon Char(5) Not null,
MaGV Char(9) Not null,
NamHoc Char(9) Not null,
HocKy Smallint Not null,
MaLop Char(10) Not null
)

Create Table DANG_KY_HOC
(
MaSV Char(8) Not null,
MaMon Char(5) Not null,
NamHoc Char(9) Not null,
HocKy Smallint Not null,
MaGV Char(9) Not null,
Diem SmallInt
)

------------------------------------------------------
ALTER TABLE KHOA ADD CONSTRAINT PK_MaKhoa PRIMARY KEY (MaKhoa)
ALTER TABLE LOP ADD CONSTRAINT PK_MaLop PRIMARY KEY (MaLop)
ALTER TABLE SINH_VIEN ADD CONSTRAINT PK_MaSV PRIMARY KEY (MaSV)
ALTER TABLE MON_HOC ADD CONSTRAINT PK_MaMon PRIMARY KEY (MaMon)
ALTER TABLE GIANG_VIEN ADD CONSTRAINT PK_MaGV PRIMARY KEY (MaGV)
ALTER TABLE GIANG_DAY ADD CONSTRAINT PK_GD PRIMARY KEY (MaMon, MaGV, NamHoc, HocKy, MaLop)
ALTER TABLE DANG_KY_HOC ADD CONSTRAINT PK_DKH PRIMARY KEY (MaSV, MaMon, NamHoc, HocKy, MaGV)


------------------------------------------------------
ALTER TABLE LOP ADD CONSTRAINT FK_K_L
FOREIGN KEY (MaKhoa) REFERENCES KHOA(MaKhoa)
ALTER TABLE SINH_VIEN ADD CONSTRAINT FK_L_SV
FOREIGN KEY (MaLop) REFERENCES LOP(MaLop)
ALTER TABLE GIANG_VIEN ADD CONSTRAINT FK_K_GV
FOREIGN KEY (MaKhoa) REFERENCES KHOA(MaKhoa)
ALTER TABLE GIANG_DAY ADD CONSTRAINT FK_MH_GD
FOREIGN KEY (MaMon) REFERENCES MON_HOC(MaMon)
ALTER TABLE GIANG_DAY ADD CONSTRAINT FK_GV_GD
FOREIGN KEY (MaGV) REFERENCES GIANG_VIEN(MaGV)
ALTER TABLE GIANG_DAY ADD CONSTRAINT FK_L_GD
FOREIGN KEY (MaLop) REFERENCES LOP(MaLop)
ALTER TABLE DANG_KY_HOC ADD CONSTRAINT FK_SV_DKH
FOREIGN KEY (MaSV) REFERENCES SINH_VIEN(MaSV)
ALTER TABLE DANG_KY_HOC ADD CONSTRAINT FK_MH_DKH
FOREIGN KEY (MaMon) REFERENCES MON_HOC(MaMon)
ALTER TABLE DANG_KY_HOC ADD CONSTRAINT FK_GV_DKH
FOREIGN KEY (MaGV) REFERENCES GIANG_VIEN(MaGV)

-------------Bảng KHOA-----------
INSERT INTO KHOA VALUES ('TOAN',N'Toán-Tin',N'Nhà C1','0743447325')
INSERT INTO KHOA VALUES ('CNTT',N'Công nghệ Thông tin',N'Nhà C2','0743447326')
INSERT INTO KHOA VALUES ('D_LY',N'Địa lý',N'Nhà A1','0743447327')

Select *
from KHOA

-----------------Bảng Lớp-----------
INSERT INTO LOP VALUES ('DA11TO12A1',N'ĐH Toán A1 2012','TOAN')
INSERT INTO LOP VALUES ('DA12TT12A1',N'ĐH CNTT A1 2012','CNTT')
INSERT INTO LOP VALUES ('DA12DL12A1',N'ĐH Địa Lý A1 2012','D_LY')

Select *
from LOP

-----------Bảng Sinh Viên------------
INSERT INTO SINH_VIEN VALUES ('K6100001',N'Phạm Văn Bình','24-02-1990','DA11TO12A1')
INSERT INTO SINH_VIEN VALUES ('K6100002',N'Nguyễn Thị Hoài Thu','12-04-1991','DA12TT12A1')
INSERT INTO SINH_VIEN VALUES ('K6100003',N'Trần Ngọc Thanh','15-04-1990','DA12DL12A1')

Select *
from SINH_VIEN
---------------Bảng Môn Học-----------
INSERT INTO MON_HOC VALUES ('GTA1',N'Giải tích 1','2')
INSERT INTO MON_HOC VALUES ('DSTT',N'Đại số tuyến tính','3')
INSERT INTO MON_HOC VALUES ('HHAF',N'Hình học Afin','2')

Select *
from MON_HOC
-------------------Bảng Giảng Viên------------
INSERT INTO GIANG_VIEN VALUES ('15.111.01',N'Phạm Bình Minh','TOAN')
INSERT INTO GIANG_VIEN VALUES ('15.111.02',N'Nguyễn Hoài Thu','CNTT')
INSERT INTO GIANG_VIEN VALUES ('15.111.03',N'Trần Ngọc Ân','D_LY')

Select *
from GIANG_VIEN
---------------------Bảng Giang Dạy
INSERT INTO GIANG_DAY VALUES ('GTA1','15.111.01','2012-2013','1','DA11TO12A1')
INSERT INTO GIANG_DAY VALUES ('DSTT','15.111.05','2012-2013','2','DA11TO12A1')
INSERT INTO GIANG_DAY VALUES ('HHAF','15.111.07','2012-2013','2','DA11TO12A1')

Select *
from GIANG_DAY
----------------Bảng Đăng Ký Học-------------
INSERT INTO DANG_KY_HOC VALUES ('K6100001','GTA1','2012-2013','1','15.111.01','6')
INSERT INTO DANG_KY_HOC VALUES ('K6100001','DSTT','2012-2013','2','15.111.05','7')
INSERT INTO DANG_KY_HOC VALUES ('K6100001','HHAF','2012-2013','2','15.111.07','5')

Select *
from DANG_KY_HOC

----Delete from SINH_VIEN  
-------------------- VIEW ------------

----1---- 
CREATE VIEW DANHSACHNHANVIEN
AS
	SELECT *
	FROM SINH_VIEN

select *
from DANHSACHNHANVIEN

-----2----
CREATE VIEW DSNHANVIEN 
AS 
	SELECT HoTenSV,TenLop,TenKhoa 
	from SINH_VIEN,KHOA,LOP
	WHERE SINH_VIEN.MaLop = LOP.MaLop
	AND LOP.MaKhoa = KHOA.MaKhoa 

select *
from DSNHANVIEN

-----3----
CREATE VIEW DSGIANGVIEN
AS 
	SELECT HoTenGV,TenKhoa 
	from GIANG_VIEN,KHOA
	WHERE GIANG_VIEN.MaKhoa = KHOA.MaKhoa 

select *
from DSGIANGVIEN

-----4----
CREATE VIEW DSGIANGVIENGIANGDAY
AS 
	SELECT HoTenGV,TenKhoa,TenMon
	from GIANG_VIEN  ,KHOA ,MON_HOC ,GIANG_DAY
	WHERE GIANG_VIEN.MaKhoa = KHOA.MaKhoa 
	AND GIANG_DAY.MaMon = MON_HOC.MaMon
	AND GIANG_DAY.MaGV = GIANG_VIEN.MaGV
	
select *
from DSGIANGVIENGIANGDAY

-----5----
alter VIEW DSGIANGVIENKHONGDAY
AS 
	SELECT distinct gv.HoTenGV
	from GIANG_VIEN gv,GIANG_DAY gd
	WHERE gv.MaGV = gd.MaGV
	AND gd.MaGV not in
		   ( select MaGV
		     from GIANG_DAY
		     where NamHoc = '2011-2012'
			)
	
select *
from DSGIANGVIENKHONGDAY

----------------LƯU TRỮ-----------

-------1------
ALTER PROCEDURE HoaiThu1
AS
BEGIN
	SELECT sv.MaSV,sv.HoTenSV,mh.TenMon
	FROM MON_HOC mh,DANG_KY_HOC dkh,SINH_VIEN sv
	where dkh.MaSV = sv.MaSV
	and mh.MaMon = dkh.MaMon
	and sv.HoTenSV = N'Nguyễn Thị Hoài Thu'

END
GO

EXEC HoaiThu1

-------2-------
ALTER PROCEDURE NGOCTHANH2
@DEMSOMON INT OUTPUT
AS 
BEGIN
	SELECT COUNT (MaMon) as DEMSOMON
	FROM DANG_KY_HOC,SINH_VIEN
	WHERE DANG_KY_HOC.MaSV = SINH_VIEN.MaSV
	AND SINH_VIEN.HoTenSV = N'Trần Ngọc Thanh'
	
	set @DEMSOMON = @@ROWCOUNT
END 
GO

DECLARE @RE INT
EXEC NGOCTHANH2 @RE OUTPUT
PRINT @RE

--------3--------
CREATE PROCEDURE CAU3
AS
BEGIN
	SELECT DANG_KY_HOC.MaSV,HoTenSV,TenKhoa
	FROM DANG_KY_HOC,MON_HOC,SINH_VIEN,KHOA,LOP
	where DANG_KY_HOC.MaSV = SINH_VIEN.MaSV
	and DANG_KY_HOC.MaMon = MON_HOC.MaMon
	and LOP.MaKhoa = KHOA.MaKhoa
	and SINH_VIEN.MaLop = LOP.MaLop
	and MON_HOC.TenMon = N'Giải tích 1'
	and DANG_KY_HOC.HocKy = 1
END
GO

EXEC CAU3

-------4------
CREATE PROCEDURE CAU4
AS
BEGIN
	SELECT MaSV,HoTenSV,NgaySinh,TenKhoa
	FROM SINH_VIEN,KHOA,LOP
	where SINH_VIEN.MaLop = LOP.MaLop
	and LOP.MaKhoa = KHOA.MaKhoa
	ORDER BY KHOA.TenKhoa,SINH_VIEN.HoTenSV
	
END
GO

EXEC CAU4

---------5------
ALTER PROCEDURE CAU5

AS
BEGIN
	SELECT KHOA.MaKhoa,TenKhoa,COUNT (SINH_VIEN.MaSV) as DEMSLSV
	FROM SINH_VIEN,KHOA,LOP
	where SINH_VIEN.MaLop = LOP.MaLop
	and LOP.MaKhoa = KHOA.MaKhoa
	GROUP BY KHOA.MaKhoa,KHOA.TenKhoa
	
END
GO

EXEC CAU5

------6-----
CREATE PROCEDURE CAU6
AS
BEGIN
	SELECT DISTINCT HotenGV,TenMon,GIANG_DAY.HocKy,COUNT (DANG_KY_HOC.MaSV) AS TONGSOTIET
	FROM GIANG_VIEN,GIANG_DAY,DANG_KY_HOC,MON_HOC
	where GIANG_VIEN.MaGV = GIANG_DAY.MaGV
	AND MON_HOC.MaMon = DANG_KY_HOC.MaMon
	AND MON_HOC.MaMon = GIANG_DAY.MaMon
	GROUP BY GIANG_VIEN.HoTenGV , MON_HOC.TenMon,GIANG_DAY.HocKy
	ORDER BY GIANG_DAY.HocKy
	
END
GO

EXEC CAU6

------7-------


