
create table PHONG(
	MaPhong char(3) primary key not null,
	TenPhong nvarchar (40),
	DiaChi nvarchar (50),
	Tel char(10),
)

create table DANHMUC(
	MaNN char(2) primary key not null,
	TenNN nvarchar (20),
)

create table NHANVIEN(
		MaNV char(5) primary key not null,
	Ho Nvarchar(20),
	TenLot Nvarchar(20),
	Ten Nvarchar(20),
	GioiTinh Nvarchar(3),
	NgaySinh char(10),
	HeSoLuong Dec(4,2),
	MaPhong char(3),
	Tel char(10),
	NgayBC datetime,
	foreign key (MaPhong) references PHONG(MaPhong)
)

create table TRINHDO_NN(
	MaNV char(5),
	MaNN char(2),
	TrDo char(2),
	constraint KHOA primary key (MaNV,MaNN,TrDo)
)


----------NHẬP DỮ LIỆU BẢNG PHÒNG-------------
INSERT INTO PHONG VALUES('HCA', N'HC Tổng hợp', N'123,Phường 5, TP Trà Vinh, Trà Vinh','0743585793') 
INSERT INTO PHONG VALUES('KDA', N'Kinh Doanh', N'123,Phường 5, TP Trà Vinh, Trà Vinh','0743585794') 
INSERT INTO PHONG VALUES('KTA', N'Kỹ Thuật', N'123,Phường 5, TP Trà Vinh, Trà Vinh','0743585795') 

------------NHẬP DỮ LIỆU BẢNG DANH MỤC----------
INSERT INTO DANHMUC VALUES('01', N'Anh')
INSERT INTO DANHMUC VALUES('02', N'Nga')
INSERT INTO DANHMUC VALUES('03', N'Pháp')
----------- NHẬP DỮ LIỆU BẢNG TRÌNH ĐỘ--------
insert into TRINHDO_NN values('HC001','01','A')
insert into TRINHDO_NN values('HC001', '02' ,'B')
insert into TRINHDO_NN values('HC002','01','C')
-----------------NHẬP DỮ LIỆU BẢNG NHÂN VIÊN-------------
insert into NHANVIEN values('HC001', N'Nguyễn', N'Thị' , N'Hà', N'Nữ', '1950/02/27', 4.50, 'HCA', '', '1975/08/02')
insert into NHANVIEN values('HC002', N'Trần', N'Văn' , N'Nam', N'Nam', '1975/12/06', 3.00, 'HCA', '', '1997/08/06')
insert into NHANVIEN values('HC003', N'Nguyễn', N'Thanh' , N'Huyền', N'Nữ', '1978/03/07', 3.50, 'HCA', '', '1999/02/09')

SELECT *
FROM PHONG

SELECT *
FROM DANHMUC

SELECT *
FROM TRINHDO_NN

SELECT *
FROM NHANVIEN

------------TẠO VIEW  T57------------------

--------------THÔNG TIN NHÂN VIÊN MÃ SỐ KT001----------
create view V_DanhsachNV
AS
	SELECT MaNV,Ho,TenLot,Ten,GioiTinh,NgaySinh,HeSoLuong,MaPhong,Tel,NgayBC
	FROM NHANVIEN
	WHERE MaNV ='KT001'

SELECT *
FROM V_DanhsachNV

--------------DS THÔNG TIN NHÂN VIÊN NỮ----------
create view V_DanhsachNVNu
AS
	SELECT MaNV,Ho,TenLot,Ten,GioiTinh,NgaySinh,HeSoLuong,MaPhong,Tel,NgayBC
	FROM NHANVIEN
	WHERE GioiTinh = N'Nữ'

SELECT *
FROM V_DanhsachNVNu

--------------DS THÔNG TIN NHÂN VIÊN HỌ NGUYỄN----------
create view V_DanhsachNVhonguyen
AS
	SELECT MaNV,Ho,TenLot,Ten,GioiTinh,NgaySinh,HeSoLuong,MaPhong,Tel,NgayBC
	FROM NHANVIEN
	WHERE Ho = N'Nguyễn'

SELECT *
FROM V_DanhsachNVhonguyen

--------------DS THÔNG TIN NHÂN VIÊN CHỨA TỪ VĂN----------
create view V_DanhsachNVTEN
AS
	SELECT MaNV,Ho,TenLot,Ten,GioiTinh,NgaySinh,HeSoLuong,MaPhong,Tel,NgayBC
	FROM NHANVIEN
	WHERE TenLot = N'Văn'

SELECT *
FROM V_DanhsachNVTEN

--------------DS THÔNG TIN NHÂN VIÊN DƯỚI 30 TUỔI----------
create view V_DanhsachNVTUOI30
as
	SELECT MaNV,Ho,TenLot,Ten,GioiTinh,NgaySinh
	FROM NHANVIEN
	WHERE YEAR(getdate()) - YEAR(NgaySinh) <50
	
SELECT *
FROM V_DanhsachNVTUOI30

--------------DS THÔNG TIN NHÂN VIÊN 25 đến 30 TUỔI----------
create view V_DanhsachNVTUOI25_30t
as
	SELECT MaNV,Ho,TenLot,Ten,GioiTinh,NgaySinh
	FROM NHANVIEN
	WHERE YEAR(getdate()) - YEAR(NgaySinh) between 30 AND 50
	
SELECT *
FROM V_DanhsachNVTUOI25_30t

-------DS THÔNG TIN NHÂN VIÊN HỌC NGOẠI NGỮ TRÌNH ĐỘ C-----
alter view V_DanhsachNVTRINHDOC
AS
	SELECT NV.MaNV,Ho,TenLot,Ten,TD.TrDo
	FROM TRINHDO_NN AS TD , NHANVIEN AS NV
	WHERE NV.MaNV = TD.MaNV
	AND TD.MaNN = '01'
	AND TD.TrDo != 'A'
	AND TD.TrDo != 'B'
	AND TD.TrDo != 'B1'
	AND TD.TrDo != 'B2'
	
SELECT *
FROM  V_DanhsachNVTRINHDOC

-------DS THÔNG TIN NHÂN VIÊN VÀO BIÊN CHẾ TRƯỚC NĂM 2000-----
create view V_DanhsachNVBIENCHE2000
as
	SELECT MaNV,Ho,TenLot,Ten,GioiTinh,NgaySinh,NgayBC
	FROM NHANVIEN
	WHERE  YEAR(NgayBC) < 2000
	
SELECT *
FROM  V_DanhsachNVBIENCHE2000

-------DS THÔNG TIN NHÂN VIÊN VÀO BIÊN CHẾ HƠN 10 NĂM-----
create view V_DanhsachNVBIENCHE10NAM
as
	SELECT MaNV,Ho,TenLot,Ten,GioiTinh,NgaySinh,NgayBC
	FROM NHANVIEN
	WHERE YEAR(getdate()) - YEAR(NgayBC) >10
	
SELECT *
FROM  V_DanhsachNVBIENCHE10NAM

----------X-THỦ TỤC LƯU TRỮ-------
ALTER PROCEDURE XINCHAO
	@hoten nvarchar(50)
AS
BEGIN 
	PRINT N'XIN CHÀO ' +@hoten
END
GO

EXEC XINCHAO N'NHI'

-----X1----
CREATE PROCEDURE DSNVNGHIHUU
AS
BEGIN
SELECT * , YEAR(getdate()) - YEAR(NgaySinh) AS 'Tuoi'
   FROM NHANVIEN as NV
   where (NV.GioiTinh = N'Nam'
   and YEAR(getdate()) - YEAR(NgaySinh) >=60)
   or (NV.GioiTinh = N'Nữ'
    and YEAR(getdate()) - YEAR(NgaySinh) >=55)
   END
   GO
   
 exec DSNVNGHIHUU
 
---------X2--------
 CREATE PROCEDURE DSNVDENTUOINGHIHUU
	@GioiTinh Nvarchar(3),
	@Tuoi int
AS
BEGIN
SELECT * , YEAR(getdate()) - YEAR(NgaySinh) AS 'Tuoi'
   FROM NHANVIEN 
   where (GioiTinh = @GioiTinh
   and YEAR(getdate()) - YEAR(NgaySinh) >= @Tuoi)
  
   END
   GO
   
exec DSNVDENTUOINGHIHUU N'Nam',60
exec DSNVDENTUOINGHIHUU N'Nữ',55
 
---------X3--------  
CREATE PROCEDURE ThongTinPhongBan

AS
BEGIN
	SELECT MaPhong,TenPhong,Tel
	from PHONG
END
GO

EXEC ThongTinPhongBan

-------X4----------
CREATE PROCEDURE ThongTinNV

AS
BEGIN
	SELECT Ho,TenLot,TenPhong,NgaySinh,NgayBC
	from NHANVIEN
END
GO

EXEC ThongTinNV